.aboutUs {
    width: 65em;
    margin: 2em auto;
    max-width: 100%;
    display: flex;
    -webikt-box-shadow: var(--generalPageShadow);
    box-shadow: var(--generalPageShadow);
    padding: 1em;
    border-radius: 20px;
    align-items: center;
}
@media(max-width: 991px) {
    .aboutUs {
        flex-direction: column;
        width: 22em;
    }
}
.myImage {  
    width: 300px;
    border-radius: 50%;
}
@media(max-width: 991px) {
    .myImage {
        width: 200px;
    }
}
.rightElementsAbout {
    margin-left: 1em;
    line-height: 1.7;
}
.descriptionAbout {
    color: #444;
}
.titleAbout { 
    font-weight: bold;
    font-size: 35px;
    margin: 0;
}
.sayAll {
    color: var(--generalPageColor);
    font-size: 16px;
    transition: margin-left 0.2s;
    margin-top: 1em;
    text-decoration: none;
}
.sayAll:hover {
    margin-left: 10px;
}
.sayAll:focus {
    font-weight: bold;
}